@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Outsourcing Page";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    
</hgroup>
    <div class="content-wrapper">
          <p>
              DEFINITION OF 'OUTSOURCING'
A practice used by different companies to reduce costs by transferring portions of work to outside suppliers rather than completing it internally.
    </p>
        <p>

        INVESTOPEDIA EXPLAINS 'OUTSOURCING'
Outsourcing is an effective cost-saving strategy when used properly. 
        It is sometimes more affordable to purchase a good from companies with comparative advantages than it is to produce the good internally.
         An example of a manufacturing company outsourcing would be Dell buying some of its computer components from another manufacturer in order to save on production costs.
         Alternatively, businesses may decide to outsource book-keeping duties to independent accounting firms, as it may be cheaper than retaining an in-house accountant.  
    
        </p>

    </div>
<aside>
   
    <p> Fecha : @DateTime.Today.ToShortDateString()</p>
    <div id="reloj" style="font-size:20px;"></div>
</aside>