@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Quality Assurance Page";
}
<hgroup class="title">
    <h1>@Page.Title.</h1>
    
</hgroup>
    <div class="content-wrapper">
        <p>Quality Assurance (QA) is a way of preventing mistakes or defects in manufactured products and avoiding problems when delivering solutions or services to customers; which ISO 9000 defines as "part of quality management focused on providing confidence that quality requirements will be fulfilled".
           This defect prevention in quality assurance differs subtly from defect detection and rejection in quality control, and has been referred to as a shift left as it focuses on quality earlier in the process.

        </p> 
    </div>

<aside>
   
    <p> Fecha : @DateTime.Today.ToShortDateString()</p>
    <div id="reloj" style="font-size:20px;"></div>
</aside>
