@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
}
<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your contact page.</h2>
</hgroup>
